{% extends 'projects/base.html' %}
{% block title %}
    Workboard for {{ workboard.project.name }}
{% endblock %}
{% block content %}
    <h1>Workboard</h1>
    <div class="workboard">
        {% for column, task_assignments in tasks_by_column.items %}
            <h4>{{ column.name }}</h4>
            <ul>
                {% for assignment in task_assignments %}
                    <li>
                        <a href="{% url 'tasks:task_detail' assignment.task.id %}">{{ assignment.task }}</a>
                    </li>
                {% empty %}
                    <li>No Tasks</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}